* {
    scroll-width: thin;
    scrollbar-color: white;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #fafafa;
    border-radius: 0;
}

*::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 14px;
    border: 3px solid #fafafa;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
