html, body {
    overflow: hidden;

    * {
        @apply transition-colors duration-200;
    }
}

.dark-mode-slide-toggle {
    .toggle-bg {
        &::before {
            content: '';
            position: absolute;
            transition: all .5s;
            left: 1.875rem;
            @apply text-amber-400 bg-gray-100 shadow h-6 w-6 flex items-center justify-center rounded-full;
        }

        &.dark {
            &::before {
                content: '';
                left: 2px;
                @apply text-purple-900;
            }
        }
    }
}

.questionnaire {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .btn-primary, .btn-secondary {
        @apply w-fit text-base text-white font-bold py-3 md:py-2 px-6 md:px-4 uppercase rounded cursor-pointer;
    }

    .btn-primary {
        @apply bg-green-500 hover:bg-green-600;
    }

    .btn-secondary {
        @apply bg-slate-800 hover:bg-slate-900 dark:bg-slate-500 dark:hover:bg-slate-600;
    }

    &__loading-overlay {

        @apply opacity-0 transition-opacity duration-500 delay-1000 pointer-events-none;
        &.show-overlay {
            @apply opacity-100;
        }

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        svg {
            animation: rotate 1s linear infinite;
        }
    }

    &__progress {
        &__bar {
            transition: width 0.5s;
        }
    }

    &__intro {

        &__transition-enter-active, &__transition-leave-active {
            transition: opacity 0.5s;
        }

        &__transition-enter, &__transition-leave-to {
            opacity: 0;
        }

        &__image {
            filter: brightness(0.5);
        }

        &__text {
            max-width: 60rem;
        }
    }

    &__form {

        &__field {

            label {

                input, select, textarea {
                    &:focus {
                        @apply outline-none;
                    }
                }

                input, textarea {
                    @apply text-2xl md:text-4xl;
                }

                input {

                    &:checked + span {
                        @apply bg-green-600;
                    }
                }
            }
        }
    }

    &__nav-arrows {
        &__arrow {
            transition: all 0.5s;
        }
    }
}